	/*
  	Flaticon icon font: Flaticon
  	Creation date: 31/01/2021 18:39
  	*/
	
	@font-face {
	    font-family: "Flaticon";
	    src: url("/font/flaticon.eot");
	    src: url("/font/flaticon.eot?#iefix") format("embedded-opentype"), url("/font/flaticon.woff2") format("woff2"), url("/font/flaticon.woff") format("woff"), url("/font/flaticon.ttf") format("truetype"), url("/font/flaticon.svg#Flaticon") format("svg");
	    font-weight: normal;
	    font-style: normal;
	}
	
	@media screen and (-webkit-min-device-pixel-ratio:0) {
	    @font-face {
	        font-family: "Flaticon";
	        src: url("/font/flaticon.svg#Flaticon") format("svg");
	    }
	}
	
	[class^="flaticon-"]:before,
	[class*=" flaticon-"]:before,
	[class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
	    font-family: Flaticon;
	    font-size: 100px;
	    font-style: normal;
	}
	
	.flaticon-warehouse:before {
	    content: "\f100";
	}
	
	.flaticon-office:before {
	    content: "\f101";
	}
	
	.flaticon-building:before {
	    content: "\f102";
	}